* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
  margin: 5%;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.article1 {
  border: 2px solid #000;
  background-color: beige
}
h2 {
  text-align: center;
  font-weight: light;
  margin: 5%
}
p {
  margin: 5%;
}
#countSpace {
  margin: 5%;
}
#btn1 {
  padding: 2% 4%;
  display: block;
  margin: 5% auto;
}
/* Article 2 */
.article2 {
  border: 2px solid #000;
  background-color: beige;
  margin-top: 2%;
  text-align: center;
}
#showName {
  padding: 5% 10%;
  display: block;
  margin: 15% auto;
}
#nameSpace {
  text-align: center;
  font-style: italic;
}
